<?xml version="1.0"?>
<!--
/**
 * ExampleVendor_PageBuilderExampleBanner
 *
 * @category ExampleVendor
 * @package  ExampleVendor_PageBuilderExampleBanner
 * @author   John Doe <info@scandiweb.com>
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ExampleVendor_PageBuilderExampleBanner"/>
</config>
